.example-form{
    margin: 90px 0px 0px 500px;    
}

.example-full-width{
    width: 500px;
}
.example-button-row{
    button{
        width: 500px;
    }
    
}
.example-card{
    margin: 90px 0px 0px 500px;
    width: 30%;
    a{
        width:100px;
        text-decoration: none;
        margin-left: 170px;
        display: block;
        padding: 7px;
        color: black;
        background-color: rgb(17, 33, 126);
    }
}